* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9f2f9;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #f26c4f;
  height: 110px;
  padding: 10px 30px;
  color: #1b325f;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
}
.App-header img {
  width: 90px;
  margin-right: 0.5rem;
}
.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}
.cardSection {
  display: flex;
  justify-content: center;
}
.cardInfo {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardInfo-img {
  height: 200px;
  object-fit: cover;
}
.cardInfo:hover .cardInfo-img {
  filter: blur(2px);
}
.cardInfo:hover .cardInfo-btn {
  /* filter: blur(2px); */
  display: block;
}
.cardInfo-container {
  position: relative;
}
.cardInfo-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
  color: #1b325f;
  background-color: #f26c4f;
  padding: 0.5rem;
  margin-top: 4rem;
}

.footer li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;
}

.cardInfo {
  width: 18rem;
}

/* [
  "#1b325f",
  "#9cc4e4",
  "#e9f2f9",
  "#3a89c9",
  "#f26c4f"
] */
